* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "century gothic";
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px 20px;
  min-width: 30%;
  height: 400px;
  box-shadow: 0px 0px 5px lightgrey;
}
.group1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#username_err {
  color: red;
}
input[type="text"],
input[type="password"] {
  border: 1px solid lightgrey;
  background-color: inherit;
  height: 50px;
  width: 100%;
  margin-top: 3em;
  font-size: 0.8em;
  border-radius: 5px;
  padding: 10px;
}

input:focus {
  border: 2px solid #2669fc;
}

label[for="UserName"],
label[for="password"] {
  position: absolute;
  color: grey;
  transition: 0.3s;
}

label[for="remember_me"] {
  /* margin-left: ; */
}

label[for="UserName"],
label[for="password"] {
  margin-top: 3.3em;
  margin-left: -18em;
  padding: 0 10px;
}

input:focus ~ label[for="UserName"],
input:valid ~ label[for="UserName"] {
  color: #2669fc;
  margin-top: 30px;
  font-size: 13px;
  background-color: #fff;
  padding: 0 4px;
  margin-left: -22em;
}

input:focus ~ label[for="password"],
input:valid ~ label[for="password"] {
  color: #2669fc;
  margin-top: 30px;
  font-size: 13px;
  background-color: #fff;
  padding: 0 4px;
  margin-left: -26em;
}

#remember_me{
    margin-right: 5px;
}

input[type="submit"] {
  margin-top: 20px;
  margin-left: 7em;
  background-color: #2669fc;
  color: #fff;
  width: 5em;
  height: 2.5em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}
#signup:focus {
  outline: none;
}

#signup:hover {
  border: none;
  background-color: rgba(0, 0, 255, 255);
}
#signup:active {
  transform: scale(0.99);
  box-shadow: none;
}
p {
  margin-top: 1px;
  color: #000;
  font-size: 0.9rem;
}

input:required {
  outline: none;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background: rgb(113, 122, 121);
  box-shadow: 0px 0px 2px grey;
  overflow: hidden;
}
