* {
  margin: 0;
  padding-top: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "century gothic";
  overflow: hidden;

}
.myForm {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafad8;
}
.wraper {
  display: flex;
  position: relative;
  background-color: #ffffff;
  padding: 3em 3em;
  border-radius: 25px;
  width: 650px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(211, 211, 211, 0.808);
}

.inline {
  display: inline-flex;
}

h2 {
  padding-bottom: 5px;
}

input {
  border: 1px solid lightgrey;
  background-color: inherit;
  width: 13em;
  margin-top: 2.3em;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
}
input:focus {
  border: 2px solid #2669fc;
}
#confirm-Password {
  width: 11.5em;
  margin-left:10px;
}

.lastName {
  margin-left: 10px;
}
/* .confirmPassword {
  position: absolute;
  margin-top: -4.7em;
  margin-left: 12em;
} */

label {
  position: absolute;
  color: grey;
  transition: 0.3s;
}
label[for="firstName"] {
  margin-top: 3em;
  padding: 0 10px;
  margin-left: -12em;
}
.lastName > label[for="lastName"] {
  margin-left: -12em;
  margin-top: 3em;
  padding: 0 10px;
}
label[for="UserName"] {
  position: absolute;
  top: 225px;
  left: 47px;
  padding: 0 10px;
}
label[for="email"] {
  margin-top: 3em;
  margin-left: -25em;
  padding: 0 10px;
}

label[for="Password"] {
  margin-top: 3em;
  margin-left: -12em;
  padding: 0 10px;
}

label[for="confirm-Password"] {
  position: absolute;
  top: 388px;
  padding: 0 10px;
  left: 255px;
}
.sample-name {
  position: absolute;
  margin-top: -30px;
  margin-left: 21em;
}
.image-pane {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 5px grey;
  background-color: red;
}

.long-width {
  width: 400px;
}

.block-1{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

input[type="submit"] {
  margin-top: 30px;
  margin-left: 12.5em;
  background-color: rgb(0, 106, 177);;
  color: #fff;
  width: 6em;
  height: 2.5em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}
#signup:focus {
  outline: none;
}

#signup:hover {
  border: none;
  background-color: rgb(0, 97, 161);;
}
#signup:active {
  transform: scale(0.99);
  box-shadow: none;
}
p {
  margin-top: 1px;
  color: #000;
  font-size: 0.9rem;
}

#instead {
  color: #ffffff;
  margin-left: em;
  margin-top: 40px;
}
#instead a {
  text-decoration: none;
}

p > span {
  color: rgb(94, 94, 255);
  font-weight: bolder;
  font-size: 0.9rem;
  cursor: pointer;
}

span:active {
  color: blue;
}

span:visited {
  color: blue;
}
#visibility-checker {
  position: absolute;
  top: 390px;
  padding:0 10px;
  left: 420px;
  color:rgb(95, 95, 95);
}

/* #push2 {
  margin-left: 2em;
} */

input:focus ~ label[for="firstName"],
input:valid ~ label[for="firstName"] {
  color: #2669fc;
  margin-top: 30px;
  font-size: 13px;
  background-color: #fff;
  padding: 0 4px;
  margin-left: -14em;
}

input:focus ~ label[for="lastName"],
input:valid ~ label[for="lastName"] {
  color: #2669fc;
  margin-top: 30px;
  font-size: 13px;
  background-color: #fff;
  padding: 0 4px;
  margin-left: -14em;
}
input:required {
  outline: none;
}

input:focus ~ label[for="UserName"],
input:valid ~ label[for="UserName"] {
  color: #2669fc;
  top: 220px;
  font-size: 13px;
  background-color: #fff;
  padding: 0 4px;
  left: 30px;
}
input:focus ~ label[for="email"],
input:valid ~ label[for="email"] {
  color: #2669fc;
  margin-top: 30px;
  font-size: 13px;
  background-color: #fff;
  padding: 0 4px;
  margin-left: -30em;
}

input:focus ~ label[for="Password"],
input:valid ~ label[for="Password"] {
  color: #2669fc;
  margin-top: 30px;
  font-size: 13px;
  background-color: #fff;
  padding: 0 4px;
  margin-left: -14em;
}

input:focus ~ label[for="confirm-Password"],
input:valid ~ label[for="confirm-Password"] {
  color: #2669fc;
  top: 372px;
  font-size: 13px;
  background-color: #fff;
  padding: 0 4px;
  left: 265px;
}

.alertbox{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 120px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.698);
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 10px 10px;
  transform: translateY(340%);
  transition: ease-in-out 400ms;
  margin-top: -100px;
  
}
.showalert{
  transform: translateY(240%);
}
.alertbox > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(46, 55, 63);
  margin-bottom: 40px;
  
}

.alertbox > div > p{
  font-size: 15px;
}
.closealert{
  position: absolute;
  padding:3px 10px;
  background-color: #fff;
  color:rgb(4, 83, 98);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.781);
  text-align: center;
  right: 10px;
  top:9px;
  cursor:pointer;
}

.signin > a{
  color:rgb(80, 80, 80)
}
.signin > a:hover{
  color:rgb(0, 93, 168)
}