:root {
  --deepgreen: rgb(0, 46, 68);
  --darkgreen: rgb(0, 34, 51);
  --light-seagrean: rgb(6, 76, 109);
  --softgreen: rgb(10, 132, 163);
  --body-bg: rgb(221, 226, 230);
  --dark-body-bg: rgb(8 17 26 / 97%);
  --darkdivs: rgb(146 172 179 / 45%);
  --fore-color: rgb(104, 104, 104);
  --row-shades:#c2c3c361;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "century gothic";
}
.dark-bg {
  background-color: var(--dark-body-bg) !important;
  color: #fff !important;
}
.dark-bg .magicbox:hover {
  box-shadow: 4px 8px 10px rgb(10, 10, 10) !important;
}
.fordark {
  background-color: var(--darkdivs) !important;
  color: rgb(255, 255, 255) !important;
}
.container-bg h5,
.container-bg h2 {
  color: rgb(221, 221, 221) !important;
}
.container-bg {
  background-color: var(--darkdivs) !important;
  color: #ffffff !important;
}
.container-bg div .icon {
  background-color: var(--deepgreen) !important;
}
.header1 {
  color: #ffffff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 46, 68);
  height: 60px;
  min-width: 264px;
}
@media screen and (max-width: 400px) {
  .header1 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: #ffffff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 46, 68);
    height: 60px;
    min-width: 264px;
  }
}
@media screen and (max-width: 264px) {
  .header1 {
    color: #ffffff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 46, 68);
    height: 60px;
    min-width: 264px;
  }
}
.body-wraper {
  height: calc(100vh - 60px);
  display: flex;
  width: auto;
}

nav {
  background-color: rgb(1, 56, 82);
  color: #ffffff;
  width: 340px;
  position: relative;
  transition: ease-in-out 300ms;
  height: calc(100vh - 60px);
}

@media screen and (max-width: 400px) {
  .floatmenu {
    position: absolute !important;
    width: 245px;
    display: block;
    z-index: 100;
    margin-top: 60px;
    transition: ease-in-out 400ms !important;
  }
}

.name-plate a:first-child {
  display: none;
}

.showmenu {
  transform: translateX(0%);
}

@media screen and (max-width: 500px) {
  .floatmenu {
    position: absolute !important;
    width: 245px;
    display: block;
    z-index: 100;
    transition: ease-in-out 400ms !important;
  }
  nav {
    display: none;
    transform: translateX(-100%);
  }
  .name-plate a:first-child {
    display: block;
  }
}
nav .contdiv > p:hover {
  background-color: rgb(6, 76, 109);
  border-bottom: 1px solid rgb(11, 83, 112);
}

nav .contdiv > .group-3 .main-3:hover,
nav .contdiv > .group-2 .main-2:hover,
nav .contdiv > .group-1 .main:hover {
  background-color: rgb(6, 76, 109);
  border-bottom: 1px solid rgb(6, 76, 109);
}

nav .contdiv > p {
  font-size: 10pt;
  padding: 15px 15px;
  border-bottom: 1px solid rgb(1, 40, 56);
}

.main .fas,
.main-2 .fas,
.main-3 .fas {
  margin-left: auto;
}

nav .contdiv > div > .main-3 > p,
nav .contdiv > div > .main-2 p,
nav .contdiv > div > .main > p {
  margin-left: 16px;
}
nav .contdiv > div > .main-3,
nav .contdiv > div > .main-2,
nav .contdiv > div > .main {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 13pt;
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid rgb(1, 40, 56);
}

nav .contdiv > .group-2 > .list-2,
nav .contdiv > .group-3 > .list-3,
nav .contdiv > .group-1 > .list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(6, 76, 109);
  overflow: hidden;
}
nav .contdiv > .group-2 > .list-2,
nav .contdiv > .group-3 > .list-3,
nav .contdiv > .group-1 > .list {
  height: 0px;
  transition: ease-in-out 400ms;
}
/* nav .contdiv > .group-2 > .list-2 > div,
nav .contdiv > .group-3 > .list-3 > div,
nav .contdiv > .group-1 > .list > div {
  transition: ease-in-out 400ms;
} */

nav .contdiv > .group-2 > .list-2 > a,
nav .contdiv > .group-3 > .list-3 > a,
nav .contdiv > .group-1 > .list > a {
  padding: 5px 35px;
  color: #ffffff;
  text-decoration: none;
}
nav .contdiv > .group-2 > .list-2 > a:hover,
nav .contdiv > .group-3 > .list-3 > a:hover,
nav .contdiv > .group-1 > .list > a:hover {
  /* background-color: rgb(255, 255, 255);
  color: rgb(1, 56, 82);
  border-radius: 50px 0 0 50px; */
  padding-left: 37px;
  transition: ease-in-out 400ms;
}

/* nav .contdiv > .active {
  border-radius: 50px 0 0 50px;
  background: rgb(250, 250, 250);
  color: rgb(0, 46, 68);
} */

.user-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
}

.user-image img {
  width: 100%;
  height: auto;
}

.user-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: rgb(138, 165, 165);
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}

.online {
  position: absolute;
  background-color: rgb(1, 156, 1);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  top: 38px;
  right: 20px;
  z-index: 1 0;
}

/* .user-image:hover {
  border: 4px solid rgb(178, 199, 199);
  transition: ease-in-out 250ms;
} */

.user-dropdown-details {
  overflow: hidden;
  position: absolute;
  display: none;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 250px;
  background: #ffffff;
  color: black;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 1px #4e4e4e6c;
  top: 60px;
  right: 10px;
  transition: ease-in-out 400ms;
  z-index: 999;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: absolute; */
}
.user-dropdown-details > .content .image img {
  width: 100%;
  height: auto;
}
.user-dropdown-details > .content .ctrlBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  /* height: max-content;  */
  margin-top: 30px;
  transition: 5ms background;
}
.user-dropdown-details > .content .ctrlBtn button:last-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  width: 40%;
  font-weight: bolder;
  color: var(--softgreen);
}

.user-dropdown-details > .content .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 100px;
  width: 100px;
  background: rgb(2, 63, 98);
  border-radius: 50%;
  overflow: hidden;
}

.user-dropdown-details > .content #user-name {
  margin-top: 5px;
  font-size: 15pt;
  font-weight: 600;
}

.user-dropdown-details > .content #user-role {
  color: grey;
}

.user-dropdown-details > .content button {
  font-family: "century gothic";
  font-size: 16px;
  border-radius: 20px;
  width: 210px;
  height: 40px;
  background: inherit;
  border: 1px solid rgb(190, 189, 189);
  cursor: pointer;
  color: rgb(68, 68, 68);
}

.content .ctrlBtn > button:last-child:hover {
  background: none !important;
  color: var(--softgreen) !important;
  text-decoration: underline;
  border: none;
}

.content .ctrlBtn > button:hover {
  background: rgb(18, 83, 109);
  color: #ffffff;
  border: none;

}
.name-plate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 80px;
  width: 10%;
}
.name-plate a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 264px;
  align-items: flex-start;
  background: var(--body-bg);
  overflow-y: scroll;
  padding: 10px 30px;
  transition: 300ms;
  height: calc(100vh - 60px);
}
@media screen and (max-width: 400px) {
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    background: var(--body-bg);
    overflow-y: scroll;
    padding: 10px 30px;
    transition: 300ms;
    height: calc(100vh - 60px);
    margin-top: 60px;
  }
}
.all-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 850px) {
  .all-content-wrapper {
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
}
.postForm {
  width: 100%;
}
aside {
  margin-top: 40px;
  margin-left: 25px;
}
@media screen and (max-width: 850px) {
  .all-content-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  aside {
    margin-left: 0;
    width: 100%;
  }
}
aside > .publish {
  background: #ffffff;
  width: 250px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0.3px 1px rgb(160, 160, 160);
}
@media screen and (max-width: 850px) {
  .all-content-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  aside {
    margin-left: 0;
  }
  aside > .publish {
    background: #ffffff;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0.3px 1px rgb(160, 160, 160);
  }
}
.pub-control {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(219, 219, 219);
  padding-bottom: 10px;
  cursor: pointer;
}
.fa-play {
  font-size: 11px;
  color: rgb(31, 31, 31);
  transform: rotate(90deg);
  /* transform-origin: center; */
  margin-right: 7px;
  transition: ease-in-out 500ms;
  /* z-index: 99; */
}
.more-option {
  overflow: hidden;
  height: 0px;
  transition: ease-in-out 500ms;
  background-color: #edeff1;
  padding:0 5px;
}
.expand-options {
  height: 285px;

}

.action-button {
  display: flex;
  justify-content: space-between;
}
.action-button > input {
  margin-top: 5px;
  padding: 4px 6px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(243, 243, 243);
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 14px;
  height: 100px;
  margin-bottom: 10px;
}
.options > .status > button {
  font-size: 13px;
  border: none;
  background: none;
  color: blue;
  text-decoration: underline;
}
.post-method {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(219, 219, 219);
  padding: 5px 0px;
}
.post-method > input:first-child {
  color: red;
  border: none;
  background: none;
}
.post-method > button {
  color: #fff;
  border: none;
  background: rgb(2, 63, 98);
  /* padding: 8px 10px; */
  width: 63px;
  height: 31px;
}
#title {
  margin-top: 10px;
  /* width: 720px; */
  height: 50px;
}
.catCon{
  width: 100%;
}

.topicDescr{
  height: 200px!important;
  width: 100%;
  font-size: 16px;
}
#content {
  margin-top: 20px;
  height: 400px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
#content:focus {
  outline: none;
  /* box-shadow: 0px 0px 3px rgb(175, 175, 175); */
}

.action-button > button {
  font-size: large;
  border: none;
  background: rgb(0, 46, 68);
  color: #ffffff;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin-right: 30px;
  cursor: pointer;
}

.action-button {
  margin-top: 10px;
}

button:focus {
  outline: none;
}
button:hover {
  background: rgb(0, 73, 107);
}

.grid-container2 {
  display: grid;
  grid-template-columns: 10% 2fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(161, 160, 160);
}
.grid-container3 {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: auto;
  text-align: center;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(161, 160, 160);
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 2fr repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(161, 160, 160);
}

.grid-container div:nth-child(5) {
  border-right: none;
}

.grid-container2 div:nth-child(3) {
  border-right: none;
}
.grid-container3 div:nth-child(4) {
  border-right: none;
}

.grid-container .action-buttons {
  border-right: none;
}
.col-head {
  font-weight: bolder;
  border-top: none !important;
}

.grid-container > div,
.grid-container2 > div,
.grid-container3 > div {
  /* border-top: 1px solid rgba(177, 177, 177, 0.514); */
  border-right: 1px solid rgba(177, 177, 177, 0.514);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0px;
}
@media screen and (max-width: 400px) {
  .grid-container > div,
  .grid-container2 > div,
  .grid-container3 > div {
    font-size: 14px;
    /* padding: 0 0; */
  }
  .grid-container,
  .grid-container2,
  .grid-container3 {
    padding: 5px;
  }
}

.grid-container2 > .action-buttons {
  border-right: none;
}
.grid-container3 > .action-buttons {
  border-right: none;
}
.action-buttons > button {
  border: none;
  color: #ffffff;
  width: 28%;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.action-buttons {
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  width: 100%;
  min-width: 50%;
}

.manage_post{ 
  width:100%
}

@media screen and (max-width: 800px) {
  .action-buttons {
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    flex-direction: column;
    width: 100%;
    min-width: 50%;
  }
}

.action-buttons > #edit {
  background: rgb(5, 73, 129);
}
.action-buttons > #delete {
  background: rgb(255, 51, 0);
}
.action-buttons > #publish {
  background: rgb(20, 112, 8);
}

.contdiv {
  position: relative;
  z-index: 9;
  height: 100%;
  overflow-y: scroll;
}

.navControl {
  width: 30px;
  padding: 4px 20px 4px 15px;
  border-radius: 0 50% 50% 0;
  background: rgb(1, 56, 82);
  text-align: center;
  font-size: 20px;
  position: absolute;
  color: rgb(1, 56, 82);
  z-index: 8;
  right: -0px;
  top: 50%;
  cursor: pointer;
  transition: ease-in-out 400ms;
}

@media screen and (max-width: 500px) {
  .navControl {
    display: none;
  }
}
.active-nav-control {
  transform: translateX(75%);
  color: #ffffff;
}

.reduce-bar {
  width: 50px;
}

.hide {
  visibility: hidden;
}

.contdiv::-webkit-scrollbar {
  width: 7px;
  background: var(--darkgreen);
  border-radius: 50px;
}
.contdiv::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--light-seagrean);
}

.angle {
  font-size: 22px;
  /* -webkit-animation: ease-in-out 400ms; */
  transition: ease-in-out 400ms;
}
.rotate {
  transform: rotate(180deg);
  transform-origin: 50%;
}

.addusers-wrapper {
  width: 100%;
  max-width: 500px;
}



.usersform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  width: 100%;
  margin-top: 20px;
}

.alert-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.644);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.alert h4 {
    color: grey;
    margin-bottom: 20px;
    font-weight: 400;
}
.alert {
  width: 400px;
  height: 200px;
  background: #e6e6e6;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  transform: translateY(-50%);
}

#actionPassword {
  margin-bottom: 20px;
}

.confirmButtons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.confirmButtons input:last-child {
  background-color: #ffffff;
  color: #000;
}
.confirmButtons input {
  margin: 0 !important;
  transform: translateX(0%) !important;
  margin-left: 20px !important;
  transition: ease-in-out 250ms;
}
.confirmButtons input:hover {
  box-shadow: 4px 8px 10px rgb(173, 173, 173);
}

.summary {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 120px 120px;
  /* border:1px solid red; */
  /* padding-left: 50px; */
}
.s-data {
  display: flex;
  height: 100px;
  width: 90%;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.s-data div .icon {
  width: 50px;
  height: 50px;
  background-color: var(--softgreen);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.s-data div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.s-data h2 {
  color: var(--deepgreen);
}
.s-data h5 {
  color: rgb(80, 80, 80);
}

input[type="search"]:focus {
  outline: none;
}
.search-bar {
  min-width: 40%;
}
@media screen and (max-width: 400px) {
  .search-bar {
    min-width: 20%;
  }
}
.search-bar form input[type="search"] {
  background-color: #ffffff;
  width: 75%;
  height: 35px;
  padding: 0 10px;
  font-size: 18px;
}
.search-bar form input {
  border-radius: 5px;
  border: none;
  height: 35px;
}

.search-bar form input[type="submit"] {
  background-color: #ffffff;
  width: 20%;
  height: 35px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}
.searchIcon {
  margin-left: -17%;
  border: none;
  background-color: #fff;
  padding: 5px 5px 7px 5px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  visibility: hidden;
}
@media screen and (max-width: 500px) {
  .search-bar form input[type="search"] {
    background-color: #ffffff;
    width: 93%;
    height: 35px;
    padding: 0 10px;
    font-size: 18px;
  }
  .search-bar form input[type="submit"] {
    background-color: #ffffff;
    width: 20%;
    height: 35px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    display: none;
  }
  .searchIcon {
    margin-left: -17%;
    border: none;
    background-color: #fff;
    padding: 5px 5px 7px 5px;
    border-radius: 0 10px 10px 0;
    font-size: 20px;
    visibility: visible;
  }
}

@media screen and (max-width: 400px) {
  .search-bar form input[type="search"] {
    background-color: #ffffff;
    width: 93%;
    height: 35px;
    padding: 0 10px;
    font-size: 18px;
    display: none;
  }
  .searchIcon {
    margin-left: 50%;
    border: none;
    background-color: inherit;
    padding: 0;
    border-radius: 0;
    font-size: 20px;
    visibility: visible;
    transform: translateX(-50%);
    color: #ffffff;
  }
}

.chart-box {
  width: 50%;
  min-width: 400px;
  height: 300px;
  margin-top: 30px;
}

.bottom-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (max-width: 681px) {
  .chart-box {
    width: 50%;
    height: 300px;
    min-width: 100%;
    margin-top: 30px;
  }
  .bottom-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1117px) {
  .bottom-section {
    display: flex;
    /* align-items: flex-start; */
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
  }
}

.container1 {
  height: 300px;
}
.container1,
.container2 {
  width: 20%;
  min-width: 200px;
  padding-left: 0 !important;
  overflow: hidden;
}
.container2 {
  height: 25px;
  transition: ease-in-out 400ms;
}

@media screen and (max-width: 678px) {
  .container1,
  .container2 {
    width: 20%;
    min-width: 100%;
    padding-left: 0 !important;
    overflow: hidden;
  }
}
.expand {
  height: 300px;
}
.container2 > .header {
  height: 25px;
  background-color: rgb(173, 201, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.H-leftElement {
  display: flex;
  width: 10%;
  min-width: 98px;
  justify-content: space-between;
  align-items: center;
}

.modeSwitcher {
  display: flex;
  justify-content: space-between;
  background: var(--softgreen);
  width: 40px;
  height: 15px;
  align-items: center;
  padding: 3px 5px;
  border-radius: 50px;
}
.mode-thumb > i {
  z-index: -1000;
}
.mode-thumb {
  position: absolute;
  background: #fff;
  color: var(--darkgreen);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(35%);
  /* transform: translateX(-30%); */
  box-shadow: 0 0 5px rgb(34, 34, 34);
  font-size: 18px;
  cursor: pointer;
  transition: ease-in transform 300ms;
}

.mode-toggle {
  transform: translateX(-35%);
}

.floatbox {
  width: 100%;
  height: 65px;
  background: #ffffff;
  position: absolute;
  z-index: 1000px;
  transition: transfrom ease-in 400ms;
  display: none;
  transform: translateY(-100%);
  overflow: hidden;
  box-shadow: 3px 0 10px grey;
  z-index: 1;
}
.floatbox > i {
  position: absolute;
  top: 8px;
  left: 8px;
}
.floatbox form {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.floatbox input {
  width: 70%;
  margin-left: -10px;
  padding: 10px 5px 5px 10px;
  background: inherit;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 18px;
}

.s-icon {
  margin: none;
  border: none;
  background-color: inherit;
  padding: 0;
  border-radius: 0;
  font-size: 20px;
  visibility: visible;
  transform: translateX(50%);
  color: #000000;
}

.myprofile h5 {
  font-size: 15px !important;
}
.myprofile span {
  font-size: 16px !important;
}
.myprofile {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50%;
  transform: translateX(-50%);
}

.myprofile .mybtn {
  display: flex;
  margin-left: auto;
}

.myprofile div:last-child button {
  background-color: var(--darkgreen);
  color: #fff;
}

.myprofile div:last-child button:first-child {
  margin-right: 20px;
}
.myprofile .magicbox:hover {
  box-shadow: none !important;
}
.myprofile div:not(:last-child):not(:first-child) {
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: var(--fore-color);
}
.dp img {
  width: 100%;
  height: auto;
  display: block;
}

.dp {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  background-color: rgb(201, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  overflow: hidden;
  box-shadow: 0 0 5px rgb(66, 66, 66);
  color: rgb(109, 108, 108);
  border: 5px solid #fff;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 700px) {
  .update-wraper {
    width: 100% !important;
  }
}
@media screen and (max-width: 400px) {
  .update-wraper .dp {
    width: 200px;
    height: 200px;
  }
}

.magicInputLabel select {
  color: grey !important;
  font-size: 16px !important;
  font-family: "century gothic" !important;
  padding-left: 10px;
}

.magicInputLabel input {
  color: grey !important;
  font-size: 16px !important;
  font-family: "century gothic" !important;
}
textarea {
  font-family: "century gothic";
}
.magicInputLabel textarea {
  width: 100%;
  height: 90px;
  font-size: 17px;
}

.myprofile .wrapped {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.myprofile .wrapped .confields {
  display: flex;
  width: 100%;
  /* min-width: 48%; */
  max-width: 480px;
  flex-direction: column;
  margin-left: 40px;
}

.myprofile .wrapped .confields div {
  height: 75px;
  color: var(--fore-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-width: fit-content;
}

@media screen and (max-width: 750px) {
  .myprofile .wrapped {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
  }
  .myprofile .wrapped .confields {
    margin-left: 0;
  }
  .myprofile .wrapped .confields div:first-child {
    margin-top: 20px;
  }
}
@media screen and (max-width: 400px) {
  .myprofile .dp {
    width: 200px;
    height: 200px;
  }
  .myprofile h5,
  .myprofile span {
    font-size: 15px !important;
  }
  .myprofile .wrapped .confields div {
    height: 50px;
  }
  .f2 {
    height: fit-content !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.success {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000086;
  z-index: 100;
}

.success .msg-body .msg-logo i {
  font-size: 120px;
  color: rgb(30, 136, 30);
}

.failed {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000086;
  z-index: 100;
}
.msg-body > i {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  color: grey;
  font-size: 20px;
  cursor: pointer;
}
.msg-body {
  width: 230px;
  height: 330px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.msg-logo {
  width: 100%;
  height: 210px;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg-logo img {
  width: 110px;
  height: auto;
}

.msg-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 150px;
  padding: 0 10px;
}
.loader2 {
  display: block;
}

.userlist{
  width: 100%;
}

.update-wraper {
  /* border: 1px solid red; */
  width: 60%;
  max-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.magicInputLabel > label {
  position: absolute;
  color: grey;
  transition: 0.3s;
  padding: 0 10px;
  top: 12px;
  left: 12px;
  cursor: text;
}

.update-wraper button {
  background-color: rgb(12, 42, 87);
  color: #ffffff;
  margin-left: auto;
  margin-top: 10px;
}
.btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.darkOption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  overflow: hidden;
}
.darkOption .img-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
  font-size: 35px;
  color: rgb(150, 150, 150);
}

.darkOption {
  display: none;
  cursor: pointer;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  overflow: hidden;
}

.img-option i:hover {
  color: #ffffff;
}

.darkOption .img-option {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 35px;
  color: rgb(150, 150, 150);
}

.imgBoard {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.imgBoard .image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  border-radius: 3px;
  width: 600px;
  height: 600px;
  overflow: hidden;
}
.imgBoard .image img {
  width: 100%;
  height: auto;
}
.imgBoard .close {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 25px;
}
.imgBoard .close i {
  cursor: pointer;
}

.show-userdetail{
  display: block !important;
}

.highlight-row{
  background-color: var(--row-shades);
}