
/* .fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1000ms;
} */
.zoomIn{
  animation-name: zoomIn;
  animation-duration: 200ms;
}
.slideIn {
  animation-name: slideIn;
  animation-duration: 500ms;
}
.slideOut {
  animation-name: slideOut;
  animation-duration: 250ms;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8,0.5);
  }
  to {
    opacity: 1;
    transform: scale(1,1);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(-50%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.magicbutton {
  font-size: large;
  border: none;
  background: rgb(0, 46, 68);
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 100%;
  transform: translateX(-100%);
  cursor: pointer;
}

.magicbox {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 16pt;
  box-shadow: 0px 0.3px 1px rgb(160, 160, 160);
  transition: ease-in-out 200ms;
  box-sizing: border-box;
  background-color: #ffffff;
}
.magicbox:focus {
  outline: none;
  box-shadow: 0px 0px 3px rgb(175, 175, 175);
}
.magicbox:hover {
  box-shadow: 4px 8px 10px rgb(173, 173, 173);
}
